 .myrow{
     display: flex;
     justify-content: space-around;
 }

 .flex{
     display: flex;
 }

 header{
     background-image: url('https://live.staticflickr.com/5207/5280179353_6bafd3ced7_b.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
 }

 a{
     text-decoration: none;
 }

 .subnav a, .subnav li, .subnav .dropdown button {
     color: rgb(7, 7, 31);
     font-weight: bold;
 }

 .list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar{
    border-bottom: 1px solid #ccc;
    padding: 30px 0px;
}

.text{
    width: 70%;
    margin-top: 150px;
}



.myred{
    background-color: red;
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1100px;
}
}


@media (max-width:1400px){
    .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
    }
}


@media (max-width:1200px){
    .flex {
       
        flex-direction: column;
    }

    .myrow{
        align-items: center;
    }

    .list-inline-item {
        display:   block;
    }
    .dropdown {
        margin-left: 0 !important;
    }

    .dropdown-toggle{
        padding-left: 0;
    }
}


@media (max-width:800px){
    .myrow {
        
       display: block;
    }
}