*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.counter{
    width: fit-content;
    margin: auto;
    padding: 12px 28px;
    background: #d4d4d4;
    border-radius: 7px;
    display: flex;
   
    justify-content: space-between;
}

.counter.mycolor{
    background-color: greenyellow;
}

.counter.nytog{
    background-color: red;
}

.counter span{
    font-size: 18px;
    display: block;
    padding: 13px;
    cursor: pointer;

}

.counter span:nth-child(1){
    background-color: green;
    color: #fff;
    border-radius: 2px;
}

.counter span:nth-child(3){
    background-color: rgb(65, 24, 245);
    color: #fff;
    border-radius: 2px;
}

.reset{
    width: 100%;
    margin-top: 7px;
}

.tests{
    display: block;
    margin: auto;
    width: 450px;
    padding: 25px;
    border: 1px solid #cccc;
    border-radius: 7px;
     
}
.tests *{
    width: 100%;
    padding: 7px;
    
    border: 1px solid #cccc;
    outline: 0;
    border-radius: 7px;
    margin-bottom: 30px;
 display: block;
}

button{
    cursor: pointer;
}

.openmenu{
    position: absolute;
    background-color: #4118f5;
    padding: 17px;
    color: #fff;
    border: 0;
    font-size: 25px;
    border-radius: 7px;
    box-shadow: 7px 7px 7px #4118f561;
    left: 50px;
    transition: all .6s;
    top: 50px;
    z-index: 9;
}

.sidebar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    width: 350px;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: all .6s;
    background-color: #4118f5;
}

.sidebar.show{
    transform: translateX(0);
}

.openmenu.show{
    left: 400px
}

.sidebar a{
    text-align: center;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.prdouctts{
  
    width: 800px;
    margin: auto;
    padding: 7px;
    border: 2px solid red;
    display: flex;
    align-items: center;

}

.detals span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer
    ;
}

.detals span.active{
    border: 3px solid blueviolet;
}